/* Write your CSS here */
.image-styling {
  height: 250px;
  width: 300px;
  flex-grow: 1;
  cursor: pointer;
}
.selected-image {
  border: 2px solid #2dd4bf;
  border-radius: 10px;
}
.heading {
  color: white;
  font-family: Roboto;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.description {
  color: white;
  font-family: Roboto;
  font-weight: 16px;
  margin-top: 10px;
  margin-bottom: 35px;
}
li {
  list-style-type: none;
}
.button-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
}
